<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/portalaukcyjny?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.pool_size">200</property>

        <property name="show_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="pl.sda.User" />
        <mapping class="pl.sda.Order" />
        <mapping class="pl.sda.UserRating" />
        <mapping class="pl.sda.UserComment" />
        <mapping class="pl.sda.Advertisement" />

    </session-factory>
</hibernate-configuration>